@import "tailwindcss";


body {
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-montserrat), sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #00b050 #f0f0f0; /* thumb color + track color */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* light background for track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00b050; /* green thumb */
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* adds space around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #009640; /* darker on hover */
}

/* Hide scrollbar buttons (up/down arrows) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

h2,h1,h3{
  font-family: var(--font-exo2), sans-serif;
}